@import '../../style/colors';

.droppable {
	background: $droppable-bg;
	//width: auto;
	width: 14.2rem !important;
	min-height: 6.2rem !important;

	.text {
		opacity: .2;
	}
}

.border-dashed {
	border: .4rem dashed $droppable-border;
}

.hovered {
	background: $droppable-hovered-bg;
}
