@import '../../style/colors';

.droppable {
	background: $droppable-bg;
	width: auto;

	.text {
		opacity: .2;
	}
}

.border-dashed {
	border: 4px dashed $droppable-border;
}

.hovered {
	background: $droppable-hovered-bg;
}
