@import '../../style/colors';

.droppable {
	border: 4px dashed $droppable-border;
	background: $droppable-bg;
	width: 420px;

	.text {
		opacity: .2;
	}
}

.hovered {
	background: $droppable-hovered-bg;
}
