@import 'colors';

.app {
	background-color: $page-bg;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: $font;
}

.lists-container {
	display: flex;
	min-width: 800px;
	max-height: 90vh;

	.interactive-list {
		display: flex;
		border: .2rem solid $clear-grey;
		border-radius: .25rem;
		overflow-y: auto;

		.interactive-container {
			.interactive {
				border-radius: .25rem;
				width: 15rem;
				min-height: 6rem;
			}
		}
	}

	.draggable-list {
		flex-basis: 0;
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-end;
		max-width: 54rem;

		.draggable-list-wrapper {
			display: inherit;
			flex: inherit;
			flex-wrap: wrap;
			justify-content: flex-end;
		}
	}

	.droppable-list {
		flex-direction: column;
		max-width: 400px;

		.droppable-container {
			.name-row-container {
				display: flex;
				align-items: center;
				justify-content: center;

				.graph-arrow-container {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					.graph-arrow {
						color: $secondary;
						font-size: 36px;
					}
				}

				.name-row {
					position: absolute;
					left: 20px;
					word-wrap: break-word;
					width: 150px;
				}
			}
			&:first-child {
				.graph-arrow {
					display: none;
				}
			}

			.drop-index-container {
				display: flex;
				justify-content: center;
				align-items: center;

				.drop-index {
					font-size: 64px;
					opacity: .4;
				}
			}
		}
	}
}

.prompt-arrow {
	display: flex;
	align-items: center;
	font-size: 48px;
}

.button-block {
	display: flex;
	justify-content: center;
}

.dropped-card-body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.close-cross {
	opacity: .7;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.modal-content {
	display: flex;
	flex-direction: column;

	h1 {
		display: flex;
		justify-content: center;
	}

	img {
		height: 40vh;
		width: auto;
		margin: auto;
	}

	.button-block {
		display: flex;
		justify-content: flex-end;
	}
}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
