@import 'colors';

.app {
	background-color: $page-bg;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	color: $font;
}

.lists-container {
	display: flex;
	min-width: 70rem;
	max-height: 90vh;

	.button-block {
		position: absolute;
		bottom: -30px;
		left: -220%;
		display: flex;
		justify-content: center;
	}

	.prompt-arrow-container {
		position: relative;
		display: flex;
		align-items: center;
	}

	.interactive-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border: .2rem solid $clear-grey;
		border-radius: .25rem;
		overflow-y: auto;
		width: 45vw;

		.interactive-container {
			.interactive {
				border-radius: .25rem;
				min-height: 2rem;
			}
		}
	}

	.droppable-list {
		flex-direction: column;
		display: flex;
		align-items: flex-start;

		.droppable-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.name-row-container {
				display: flex;
				align-items: center;
				justify-content: center;

				.graph-arrow-container {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					.graph-arrow {
						color: $secondary;
						font-size: 24px;
					}
				}

				.name-row {
					position: absolute;
					left: 20px;
					word-wrap: break-word;
					max-width: 240px;
					width: max-content;
				}
			}
			&:first-child {
				.graph-arrow {
					display: none;
				}
			}

			.drop-index-container {
				display: flex;
				justify-content: center;
				align-items: center;

				.drop-index {
					font-size: 16px;
					font-weight: bolder;
					opacity: .4;
				}
			}
		}
	}
}

.prompt-arrow {
	font-size: 48px;
}

.dropped-card-body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.dragged-card-body {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.close-cross {
	opacity: .7;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.modal-content {
	display: flex;
	flex-direction: column;

	h1 {
		display: flex;
		justify-content: center;
	}

	img {
		height: 40vh;
		width: auto;
		margin: auto;
	}

	.button-block {
		display: flex;
		justify-content: flex-end;
	}
}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
