$primary: #0d6efd;
$primary-dark: #0b5ed7;
$primary-darker: #0a58ca;
$secondary: #6c757d;
$secondary-dark: #5c636a;
$secondary-darker: #565e64;
$success: #198754;
$success-dark: #188050;
$success-darker: #17784b;
$danger: #dc3545;
$danger-dark: #cb313f;
$danger-darker: #bb2d3a;

$font: white;

$page-bg: #282c34;

$draggable-bg: #37445e;

$droppable-bg: #2e333b;
$droppable-hovered-bg: #383c42;
$droppable-border: rgb(108,117,125, .4);
